<div class="container">
  <ul>
    <% @tasks.each do |task| %>
      <%#             content     _path %>
      <li><%= link_to task.title, task_path(task.id) %></li>
    <% end %>
  </ul>

  <%= link_to "Click here to add a task", new_task_path %>
  <br>
  <%= link_to "Back", root_path, class: "btn btn-dark" %>

</div>
