// Place all the styles related to the tasks controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

h1 {
  display: inline-block;
  border: 3px solid black;
  border-radius: 3px;
  margin-top: 20px;
}

div {
  text-align: center;
}

a {
  text-decoration: none;
  color: black;
}

a:hover {
  text-decoration: none;
  color: grey;
}

div.container {
  text-align: center;
  margin-top: 15px;
}

ul.myUL {
  display: inline-block;
  text-align: left;
}

.block {
  width:50%;
  text-align:right;
  display:inline-block;
}

form {
  display: inline-block;
  text-align: center;
}
