// Place all the styles related to the tasks controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

.container {
  margin: auto;
  width: 70%;
  height: 350px;
  border: 3px solid black;
  padding: 10px;
  text-align: center;
  border-radius: 10px;
  font-family:'Arial Narrow Bold', sans-serif;
  margin-top: 40px;
}

link {
  text-decoration: none;
}

li {
  text-decoration: none;
}

ul {
  background: white;
  padding: 20px;
}
